@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@100;300&display=swap');

html,
body {
	background-color: #B4E7CE;
	font-family: 'Roboto Mono', monospace, Inter, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #636940;
	font-family: 'Roboto Mono';
}

h1 {
	font-size: 42px;
	font-weight: 700;
}

h2 {
	font-size: 36px;
	line-height: 1.4;
	padding-top: 2.5%;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
	text-decoration: underline;
}

h6 {
	font-size: 16px;
}


@font-face {
	font-family: Inter;
	font-style:  normal;
	font-weight: 100;
	font-display: swap;
	src: url(../fonts/Inter-Regular.woff);
}

@font-face {
	font-family: Inter Bold;
	font-style:  bold;
	font-display: swap;
	src: url(../fonts/Inter-Bold.woff);
}

p,
li{
	font-size: 18px;
	font-family: inherit;
	color: #636940;
	line-height: 1.8;
}

.description {
	font-size: 16px;
	color: #7E858B;
	line-height: 1.8;
}
.description em {
	color: #474A2C;
	font-style: normal;
}

strong {
	color: #59A96A;
	-webkit-transition: 0.4s;
    transition: 0.4s;
}
strong:hover {
	color: #59A969;

}

span {
	font-size: inherit;
	font-weight: inherit;
}
img {
	max-width: 25%;
	vertical-align: middle;
}

.img {
	width: auto;
	height: auto;
}

.bookcontainer {
	
}

#container {
    width: 90%;
    max-width: 900px;
	margin: 3rem auto;
	padding: 0.5rem 0;

}

#blogcontainer {
	width: 90%;
    max-width: 700px;
	margin: 3rem auto;
	padding: 0.5rem 0;
}

.emojiheader {
	position: relative;
	top: 0;
	-webkit-transition: 0.4s;
    transition: top ease 0.4s;
}
.emojiheader:hover {
	top: -10px;

}
.emojiheader::after {
	opacity: 1;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}


a:hover,
a:focus {
	text-decoration: none;
	outline-style: none;
}

a {
	font-family: inherit;
	color: #59A96A;
}

ul,
ol {
	list-style: none;
	margin-left: 0;
	padding: 0;
	margin: 0;
	
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}

.row {
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}



.value {
	position: relative;
	overflow: hidden;
	padding: 30px 40px 0px;
    border-radius: 10px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    height: auto;
	width: auto;
	background-color: #59A969;
}

.value:hover {
	transform: scale(1.035, 1.035);
}

.value:hover::after {
	opacity: 1;

}

.section-padding {
	padding: 25px 0;
}

.section-padding

.wow {
	visibility: hidden;
}

/* Tabs */
.tab {
	overflow: hidden;
	float: left;
	background-color: none;
}
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 28px 32px;
  transition: 0.3s;
  background-color: none;
}
.tab button:hover {
	color: #59A96A;
  }
  
  /* Create an active/current tablink class */
.tab button.active {
	color: #474A2C;
  }
  
  /* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid ;
	border-top: none;
  }

/* Header stuff */
.topnav {
	overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	color: #474A2C;
	text-align: middle;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	position: relative;
	float: right;

  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	color: #59A96A;
  }
  /* Add a color to the active/current link */
  .topnav a.active {
	text-decoration: underline;
	color: #636940;
	text-underline-offset: 4px;
	text-decoration-thickness: 0.125em;
  }

  
/* Mobile Toggle */
@media (min-width: 992px) {
	.navbar-expand-lg .navbar-toggler {
		display: none;
	}
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.navbar-toggler {
    border: none;
    padding: 10px 6px;
    outline: none !important;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #ffffff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*---------------------
   Footer section
 -----------------------*/

.footer__copyright__text {
	font-family: inherit;
	text-align: center;
	padding-bottom: 5px;
	color: #59A96A;

}

.footer__copyright__text p {
	font-family: inherit;
	font-size: 16px;
}

.footer__copyright__text i {
	color: #474A2C;
	font-family: inherit;

}

.footer__copyright__text a {
	font-family: inherit;
	color: #474A2C;
	text-decoration: underline;
}

.footer__copyright__text a:hover {
	font-family: inherit;
	color: #59A96A;
}
